{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'un nouvel utilisateur</h1>
    <hr>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <p> <input type="submit" value="Créer" class="btn btn-info" /> </p>
    {{ form_end(form) }}

            <a type="button" class="btn btn-outline-secondary" href="{{ path('user_index') }}">Retour à la liste</a>
{% endblock %}
