h1{
    text-align: center;
}
.admin-post{
    text-align: center;
}
.badge:hover{

}
img{
    padding: 10px;
    margin-top: 20px;
}
.pdf{
    padding: 5px;
    margin-top: 20px;
    display: inline;
}