{% block body %}
    <h1>Un message de :<mark>{{ username }}</mark> vous est adressé!</h1>
    <p>Adresse email: <strong>{{ emailCustomer }}</strong> </p>
    <p>Il contient le contenu suivant:</p>
    <h2><strong>{{ content }}</strong></h2>
{% endblock %}