{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact</h1>

    {{ form_start(form) }}
            {{ form_widget(form) }}
    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}
    <p><input type="submit" value="Envoyer" class="btn btn-info" /></p>
    {{ form_end(form) }}
{% endblock %}