{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Reybeka</h1>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <img src="{{ asset('img/Photo_Reybeka.png') }}" alt="photo Reybeka Peyrat"/>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2>Mon histoire</h2>

                        <a class="btn"  href="{{path('home_index')}}">Vers les articles...</a>
                    </a>

                </div>
                <hr>
    </div>

            <div class="clearfix"><a class="btn btn-primary float-right" href="#">En haut ↑</a></div>
        </div>
    </div>

{% endblock %}
